<div class="page-header">
  <h1>Welcome to the articles website <small>articles in this website are just FAB </small></h1>
</div>

<br>

<div class="jumbotron">
  <h1>You want to sign up and write, GO AHEAD B##CH</h1>
  <p>...</p>
  <p> <%= link_to :"signup", signup_path ,class: "btn btn-primary btn-lg" %></p>
</div>
