<!-- Footer -->
<div class="container">

<footer class="footer">
<small>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://google.com"> Mytest</a>
  </div>
  <!-- Copyright -->
</small>
</footer>
<!-- Footer -->
</div>
